.vscode
.pycharm
.idea
*.pyc
__pycache__
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
*.whl
*.dist-info
*.log
*.coverage
*.DS_Store
*.vscode-*
*.sublime-*
*.swp
*.bak
*.tmp
*.orig
*.zip
*.rar
*.tar.gz
*.tar.bz2
*.7z
.venv
venv